body, * {
  font-family: "Roboto", sans-serif;
}

.LionSlotsWin {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: 45%;
}

p {
  color: #616161;
  font-weight: 400px;
}

.orange-btn {
  background: linear-gradient(266.16deg, #F0AA41 0%, #FF7A00 101.84%);
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  -webkit-box-shadow: 0px 8px 17px 0px #EB9B0069;
          box-shadow: 0px 8px 17px 0px #EB9B0069;
}

.orange-btn:hover {
  -webkit-box-shadow: 0px 8px 17px 0px #f8a50091;
          box-shadow: 0px 8px 17px 0px #f8a50091;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 80%;
}

.cookies-policuty-overlay {
  display: none;
}

.active {
  color: #F0AA41;
}

.grey-link {
  color: #616161;
  text-decoration: underline;
}

.mb-13 {
  margin-bottom: 130px;
}

.cookies {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  width: 350px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 24px 32px;
}

.cookies h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.cookies h3 a {
  text-decoration: underline;
}

.cookies p {
  font-size: 12px;
  font-weight: 18px;
}

.cookies button {
  width: 126px;
  padding: 5px;
  font-size: 14px;
}

.cookies .reject {
  border: 1px solid #979797;
  border-radius: 4px;
  background-color: #fff;
  margin-left: 24px;
  color: #414141;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-header h2 {
  color: #4E2F00;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal-header img {
  cursor: pointer;
}

.steps {
  margin-top: 24px;
}

.steps span {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

.steps input {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 32px;
  padding: 6px 12px;
}

.steps input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input:focus {
  outline: none;
}

.steps p {
  display: inline;
  margin-bottom: 0;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.steps p a {
  color: #295feb;
  font-weight: 500;
}

.steps .grey-btn {
  padding: 6px 12px;
  background-color: none;
  float: right;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.steps .openAcc-btn {
  display: inline;
  float: right;
  padding: 6px 12px;
  font-weight: 500;
  line-height: 14px;
  line-height: 20px;
}

.steps .back-btn {
  float: left;
}

.register_modal {
  display: none;
  width: 420px;
  height: auto;
  padding: 24px 32px;
  position: absolute;
  border-radius: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  background-color: #fff;
}

.register_modal .second-step {
  display: none;
}

.login_modal {
  display: none;
  position: absolute;
  border-radius: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 420px;
  background-color: #fff;
  z-index: 3;
  padding: 24px 32px;
}

.login_modal .login_btn-modal {
  display: inline;
  float: right;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
}

.games {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
  width: 700px;
  height: auto;
  z-index: 3;
  background-color: #fff;
  padding: 24px 32px;
}

.games_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_header h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  width: 50%;
  color: #4E2F00;
}

.games_header h1 span {
  font-weight: 700;
}

.games_header img {
  cursor: pointer;
  height: 24px;
}

.games_main {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_main-item {
  width: 200px;
}

.games_main-item img {
  border-radius: 6px;
}

.games_main-item h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #4E2F00;
  font-size: 16px;
  line-height: 21px;
  margin-top: 8px;
}

.games_main-item .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_main-item .rating p {
  font-size: 10px;
  margin-bottom: 4px;
}

.games_main-item .rating span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.games_main-item .rating .return, .games_main-item .rating .popularity {
  padding-right: 30px;
}

.games_main-item button {
  width: 100%;
  margin-top: 20px;
}

.games_secondary {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_secondary-item {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.games_secondary-item img {
  display: block;
  width: 100%;
}

.games_secondary-item .games_overlay {
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.games_secondary-item .games_overlay span {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.games_secondary-item .games_overlay:hover {
  background: rgba(0, 0, 0, 0);
}

.games_secondary-item .games_overlay:hover span {
  display: none;
}

.games_mobile {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  color: #414141;
}

header .header_btns .btn {
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.hero {
  height: 70vh;
  margin-top: 140px;
  z-index: 2;
}

.hero h1 {
  width: 50%;
  color: #4E2F00;
  font-size: 50px;
  line-height: 66px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  margin-bottom: 16px;
}

.hero p {
  width: 25%;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 24px;
  font-weight: 400;
}

.hero .terms {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .terms .term-block {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 312px;
  height: 68px;
}

.hero .terms .term-block img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.hero .terms .term-block h3 {
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 8px;
  line-height: 20px;
}

.hero .terms .term-block p {
  width: 100%;
  font-size: 12px;
  width: 233px;
  line-height: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a {
  color: #414141;
  font-size: 12px;
  line-height: 24px;
  margin-right: 24px;
}

footer a:hover {
  color: #414141;
}

footer p {
  color: #979797;
  font-size: 12px;
  line-height: 20px;
  margin-left: 95px;
}

.about_title {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #4E2F00;
  font-size: 40px;
  font-weight: 300;
  line-height: 52px;
  font-family: "Roboto Slab", sans-serif;
}

.about_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_descr p {
  font-size: 16px;
  line-height: 29px;
  width: 40%;
  margin-right: 24px;
}

.about_form {
  margin-top: 64px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_form .first-section {
  width: 312px;
  margin-right: 136px;
}

.about_form h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 23px;
}

.about_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFEFD7;
  border-radius: 6px;
}

.about_form form span {
  display: block;
}

.about_form form input {
  width: 200px;
  margin-right: 24px;
  height: 32px;
  margin-bottom: 12px;
}

.about_form form input, .about_form form textarea {
  border: none;
  border-radius: 4px;
  padding-left: 12px;
}

.about_form form input:focus, .about_form form textarea:focus {
  outline: none;
}

.about_form form input ::-webkit-input-placeholder, .about_form form textarea ::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 20px;
}

.about_form form input :-ms-input-placeholder, .about_form form textarea :-ms-input-placeholder {
  font-size: 12px;
  line-height: 20px;
}

.about_form form input ::-ms-input-placeholder, .about_form form textarea ::-ms-input-placeholder {
  font-size: 12px;
  line-height: 20px;
}

.about_form form input ::placeholder, .about_form form textarea ::placeholder {
  font-size: 12px;
  line-height: 20px;
}

.about_form form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.about_form form span {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.about_form form .orange-btn {
  margin-top: 30px;
  float: right;
}

.terms {
  margin-top: 80px;
}

.terms-block {
  color: #616161;
  font-size: 16px;
  line-height: 29px;
}

.terms-block h1 {
  color: #4E2F00;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 40px;
}

.terms-block ul {
  margin-top: 40px;
}

.terms-block h3 {
  color: #4E2F00;
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
}

.terms-block p {
  margin-bottom: 16px;
  font-size: 16px;
}

@media only screen and (max-width: 1440px) {
  .hero {
    height: auto;
  }
  .hero .terms {
    margin: 0;
    margin: 50px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .LionSlotsWin {
    background-size: 45%;
  }
  .hero {
    margin-top: 100px;
    height: 100%;
  }
  .hero h1 {
    font-size: 42px;
    width: 70%;
  }
  .hero p {
    width: 50%;
  }
  .terms {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 200px;
  }
  .terms .term-block {
    margin-bottom: 16px;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer p {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .hero h1 {
    font-size: 32px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 460px) {
  .LionSlotsWin {
    background-image: url(../img/mobile/mobile-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: 80%;
  }
  .cookies {
    width: 100%;
    bottom: 0;
  }
  .cookies button {
    width: 100%;
    height: 40px;
  }
  .cookies .reject {
    margin-top: 16px;
    margin-left: 0;
  }
  header .register-btn {
    display: none;
  }
  .hero {
    margin-top: 56px;
  }
  .hero h1 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 300;
    width: 100%;
  }
  .hero p {
    width: 75%;
    font-size: 14px;
  }
  .hero .terms {
    margin-top: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .terms .term-block {
    margin-bottom: 24px;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 36px;
  }
  footer p {
    display: block;
    margin: 0;
    margin-top: 24px;
  }
  .terms h1 {
    margin-top: 56px;
    font-size: 28px;
    line-height: 37px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .terms p {
    font-size: 14px;
  }
  .terms ul li {
    font-size: 14px;
  }
  .terms h3 {
    font-size: 23px;
  }
  .about_title {
    margin-top: 56px;
    font-size: 28px;
    line-height: 37px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .about_descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_descr p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
  .about_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_form h3 {
    font-size: 22px;
    line-height: 39px;
    font-weight: 300;
  }
  .about_form p {
    font-size: 14px;
  }
  .about_form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_form form textarea, .about_form form input {
    width: 100%;
  }
  .about_form form textarea::-webkit-input-placeholder, .about_form form input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .about_form form textarea:-ms-input-placeholder, .about_form form input:-ms-input-placeholder {
    font-size: 12px;
  }
  .about_form form textarea::-ms-input-placeholder, .about_form form input::-ms-input-placeholder {
    font-size: 12px;
  }
  .about_form form textarea::placeholder, .about_form form input::placeholder {
    font-size: 12px;
  }
  .about_form form button {
    width: 100%;
  }
  .games {
    top: 0;
    width: 100%;
    height: auto;
  }
  .games h1 {
    width: 100%;
    font-size: 18px;
  }
  .games .close {
    margin-top: 7px;
  }
  .games_main {
    display: none;
  }
  .games_secondary {
    display: none;
  }
  .games_mobile {
    display: block;
    margin-top: 24px;
  }
  .games_mobile-item {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .games_mobile-item img {
    width: 64px;
    height: 48px;
    margin-right: 16px;
  }
  .games_mobile-item h4 {
    color: #4E2F00;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Roboto Slab", sans-serif;
  }
  .games_mobile-item .descr img {
    width: 16px;
    height: 16px;
    margin: 0;
  }
  .games_mobile-item .descr span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 16px;
  }
  .games_mobile-item .right-arrow {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .games_mobile-item .right-arrow img {
    width: 20px;
    height: 20px;
    margin: 0;
    float: right;
  }
  .login_modal {
    width: 100%;
    padding: 16px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .login_modal form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login_modal form p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .login_modal form button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=style.css.map */