body, * {
  font-family: "Roboto", sans-serif;
}

.LionSlotsWin {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: 55%;
}

p {
  color: #616161;
  font-weight: 400px;
}

.orange-btn {
  background: linear-gradient(266.16deg, #F0AA41 0%, #FF7A00 101.84%);
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  -webkit-box-shadow: 0px 8px 17px 0px #EB9B0069;
          box-shadow: 0px 8px 17px 0px #EB9B0069;
}

.orange-btn:hover {
  -webkit-box-shadow: 0px 8px 17px 0px #f8a50091;
          box-shadow: 0px 8px 17px 0px #f8a50091;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 80%;
}

.active {
  color: #F0AA41;
}

.cookies {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  width: 350px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 24px 32px;
}

.cookies h3 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.cookies h3 a {
  text-decoration: underline;
}

.cookies p {
  font-size: 12px;
  font-weight: 18px;
}

.cookies button {
  width: 126px;
  padding: 5px;
  font-size: 14px;
}

.cookies .reject {
  border: 1px solid #979797;
  border-radius: 4px;
  background-color: #fff;
  margin-left: 24px;
  color: #414141;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-header h2 {
  color: #4E2F00;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal-header img {
  cursor: pointer;
}

.steps {
  margin-top: 24px;
}

.steps span {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

.steps input {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 32px;
  padding: 6px 12px;
}

.steps input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.steps input:focus {
  outline: none;
}

.steps p {
  display: inline;
  margin-bottom: 0;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.steps p a {
  color: #295feb;
  font-weight: 500;
}

.steps .grey-btn {
  padding: 6px 12px;
  background-color: none;
  float: right;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.steps .openAcc-btn {
  display: inline;
  float: right;
  padding: 6px 12px;
  font-weight: 500;
  line-height: 14px;
  line-height: 20px;
}

.steps .back-btn {
  float: left;
}

.register_modal {
  display: none;
  width: 420px;
  height: auto;
  padding: 24px 32px;
  position: absolute;
  border-radius: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  background-color: #fff;
}

.register_modal .second-step {
  display: none;
}

.login_modal {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 420px;
  background-color: #fff;
  z-index: 3;
  padding: 24px 32px;
}

.login_modal .login_btn-modal {
  display: inline;
  float: right;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
}

.games {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
  width: 700px;
  height: auto;
  z-index: 3;
  background-color: #fff;
  padding: 24px 32px;
}

.games_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_header h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  width: 50%;
  color: #4E2F00;
}

.games_header h1 span {
  font-weight: 700;
}

.games_header img {
  cursor: pointer;
  height: 24px;
}

.games_main {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_main-item {
  width: 200px;
}

.games_main-item img {
  border-radius: 6px;
}

.games_main-item h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #4E2F00;
  font-size: 16px;
  line-height: 21px;
  margin-top: 8px;
}

.games_main-item .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_main-item .rating p {
  font-size: 10px;
  margin-bottom: 4px;
}

.games_main-item .rating span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.games_main-item .rating .return, .games_main-item .rating .popularity {
  padding-right: 30px;
}

.games_main-item button {
  width: 100%;
  margin-top: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  color: #414141;
}

header .header_btns .btn {
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.hero {
  height: 90vh;
  margin-top: 140px;
  z-index: 2;
}

.hero h1 {
  width: 50%;
  color: #4E2F00;
  font-size: 50px;
  line-height: 66px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  margin-bottom: 16px;
}

.hero p {
  width: 25%;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 24px;
  font-weight: 400;
}

.hero .terms {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .terms .term-block {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 312px;
  height: 68px;
}

.hero .terms .term-block img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.hero .terms .term-block h3 {
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 8px;
  line-height: 20px;
}

.hero .terms .term-block p {
  width: 100%;
  font-size: 12px;
  width: 233px;
  line-height: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a {
  color: #414141;
  font-size: 12px;
  line-height: 24px;
  margin-right: 24px;
}

footer a:hover {
  color: #414141;
}

footer p {
  color: #979797;
  font-size: 12px;
  line-height: 20px;
  margin-left: 95px;
}
/*# sourceMappingURL=style.css.map */